.body{
    background-color:black;
     /* width: 100%;
    height: 100%; */
}
/* .buttons{
    display: flex;
    flex-direction: column;
} */

.corinthia-regular {
  font-family: "Corinthia", cursive;
  font-weight: 400;
  font-style: normal;
}

.corinthia-bold {
  font-family: "Corinthia", cursive;
  font-weight: 700;
  font-style: normal;
}

 .badge{
    color: #FFFFFF;
    position: absolute;
    padding: 10px 15px;
    font-size: 14px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 8px;

 }
.writee{
    color: #FFFFFF;
}
.font{
    font-size: 3rem;
}
.gota{
    padding: 10px 30px;
    border-radius: 10px;
    gap: 20px;
    color: #FFFFFF;
    background-color: #e6533c;
}

.first-1{
  margin-top: 100px;
}
.hero-container{
    color: #FFFFFF;
    background-color: #88645f;
    /* margin-right: -100px; */
    position: relative;
    width: 100%;
    max-width: 600px;

   
}
.top-right{
top: 20px;
right: 20px;
margin-top: 200px;
margin-right: 20px;
}

.bottom-left{
    margin-top: -200px;
    /* left: 20px; */
    /* display: flex; */
    /* align-items: center; */
    /* gap: 10px; */

}

.imgfirst{
    width: 100%;
    height:auto;
    display: block;
    
}
.banner{
    display: flex;
    justify-content: space-between;
}
.header{
    

    
   


}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    
    
}
.navul{
    display: flex;
    color: aliceblue;

}
.fitness{
    color: #e6533c;

}
.home{
    background-color: #e6533c;
    padding: 3%;
    color: aliceblue;
    border-radius: 10px;
   
}
 



.btns{
    display: flex;
    justify-content:space-between;
    margin-top: 80px;
    /* padding: 20px;
    border-radius: 20px;
    color: aliceblue; */
}
#video{
  margin-right: 250px;
   margin-bottom: 100px;
  padding : 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 20px;
  /* background-color: #FFFFFF; */
  color: aliceblue;
  
  background-color:rgb(47, 44, 44) ;
  
}
.bold{
    font-size: 64px;
    font-weight: bolder;
    color: #FFFFFF;
}

.corinthia-regular {
  font-family: "Corinthia", cursive;
  font-weight: 400;
  font-style: normal;
}

.lorem{
    color: rgb(84, 85, 86);
}
.loudo{
    background-color:#e6533c;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 10px;


}
.fourimagesection{
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 60px;
}
.img2{
    border-radius: 80%;
    width: 180px;
    height: 160px;
    border: 1px solid;
    color: aliceblue;
}
.changehabit{
    margin-top: 50px;
    
    text-align: center;
    margin-bottom: 20px;
}
.change{
    color: #FFFFFF;
    font-size: xx-large;
    font-weight: bold;
    padding-top: 80px;
}
.para{
    color: #FFFFFF;
    text-align: center;

}
.imagesec{
    /* background-color: black; */
}
.runsec{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #222222;
    margin-left: 130px;
    margin-top: 30px;
    margin-right: 130px;
    margin-bottom: 30px;
    border-radius: 10px;

}
.run{
    color: #FFFFFF;
    font-size: 2rem;

}
.img3{
    width: 350px;
    height: 300px;
    border-radius: 20px;
}
.text2{
  padding-left: 20px;
  text-align: start;
}
.para2{
    color: #FFFFFF;
}
.btn{
    color: #FFFFFF;
    background-color: #e6533c;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.margin-top{
    margin-top: 20px;
    margin-bottom: 20px;
}
.mar-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  /* gap: 10px; space between images */
  max-width: 600px; /* optional: limits total width */
  margin: 0 auto;

}

.mar-grid img {
  width: 100%; 
color: #42FF00d ; 
}
.bmi{
    font-weight: 800;
    
}
.bmi-sec{
    
}
.changehabit{
    margin-bottom: 80px;
}
table, th, td{
    border: 1px solid white;
       
}

.table-sec{

}
.bmi-sec{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;

}
.meet{
    text-align: center;
}
.imagessix{
    display: grid;
    grid-template-columns: repeat(3,1fr);
gap: 10px;

}
     
.six-image{
max-width: 400px;
  margin: 0 auto;
  

  
}
.img6{
width: 180px;
    height: 160px;
    border-radius: 10px;
    
}



.main-div{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    color: #FFFFFF;
    background-color: #88645f;
;
}
.end{
    display: flex;
    justify-content: center;
    border-top: 1px solid white;
    background-color: #4c3e3c;
}
@media only screen and (max-width: 576px) {
  body {
    background-color: lightblue;
  }
  .imagessix{
    display: grid;
    grid-template-columns: repeat(1,1fr);

  }
  .mar-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 3 columns */
  /* gap: 10px; space between images */
  max-width: 600px; /* optional: limits total width */
  margin: 0 auto;
}
.fourimagesection{
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    
}
.img2{
    justify-content: center;
}
.banner{
    display: flex;
    justify-content: space-between;
    flex-direction: column
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    flex-direction: column;
    
    
}
.navul{
    display: flex;
    color: aliceblue;
    flex-direction: column;

}
.btns{
    display: flex;
    justify-content:space-between;
    margin-top: 80px;
    /* padding: 20px;
    border-radius: 20px;
    color: aliceblue; */
    flex-direction: column;
}
.main-div{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    color: #FFFFFF;
    background-color: #88645f;
    flex-direction: column;

}
.end{
    display: flex;
    justify-content: center;
    border-top: 1px solid white;
    background-color: #4c3e3c;
}
.bmi-sec{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    flex-direction: column;

}
.runsec{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #222222;
    margin-left: 130px;
    margin-top: 30px;
    margin-right: 130px;
    margin-bottom: 30px;
    border-radius: 10px;
    flex-direction: column;

}


}